*{
    font-family: sans-serif;
}

html { 
    overflow-y: hidden; 
    overflow-x: hidden;
}

body {
    background-image: url(static/dataBG.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.deepName {
    position: relative;
    top: 5%;
    left: 35%;

    color: white;
    font-size: 85px;
    font-weight: 700;
}

.container span{
    position: relative;
    text-align: center;
    bottom: 500px;
    left: 17.5%;

    color: white;
    text-transform: uppercase;
    letter-spacing: normal;
    display: block;
}

.text1 {

    font-size: 50px;
    font-weight: 700;
    left: -180px;
    animation: text 5s 1;
}

.text2 {
    font-size: 50px;
    font-weight: 700;
    left: -180px;
    animation: text2 7s 1;
}

.text3 {
    font-size: 50px;
    font-weight: 700;
    left: -180px;
    animation: text3 8s 1;
}

.mainPic{
    position: relative;
    bottom: -40px;
    left: 10%;
}

.refLinks{
    position: relative;
    bottom: 450px;
    left: 63%;
    width: 20%;
}

p {
    position: fixed;
    color: white;
    text-align: center;
    bottom: 0%;
    right: 50%;
}

@keyframes text {
   0%{
       color: rgb(117, 42, 42);
   } 
}

@keyframes text2 {
    0%{
        color: rgb(117, 42, 42);
    } 
 }

 @keyframes text3 {
    0%{
        color: rgb(117, 42, 42);
    } 
 }